<% if @place.errors.any? %>
  <div id="errors">
    <div id="errorsHeader">
      The form contains <%= pluralize(@place.errors.count, "error") %>.
    </div>
    <div id="errorsBody">
      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>