@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
@import "masonry/basic";
@import "masonry/centered";
@import "masonry/fluid";
@import "masonry/gutters";
@import "masonry/infinitescroll";
@import "masonry/right-to-left";
@import "masonry/transitions";
@import "header";
@import "places";
@import "errors";
@import "sign_up";
@import "sign_in";
#flashMessages{
  position: relative;
  top: 9vh;
}
.navbarNavDropdown{
  text-align: right;
}
.logo{
  float: left;
}