@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

#flashMessages {
  position: relative;
  top: 9vh;
}

.navbarNavDropdown {
  text-align: right;
}

.logo {
  float: left;
}