header {
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: rgba(0, 0, 0, 0.32) solid 1px;
  z-index: 3;
  background-color: #F7F7F7;
  height: auto;
  min-width: 546px;
}
.content {
  top: 10vh;
  position: relative;
}
