// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-places_form {
  display: none;
  z-index: 4;
  height: 1000vh;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  margin-top: -7%;

  #pop-up-form {
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 40%;
    z-index: 5;
    position: fixed;
    vertical-align: middle;
    display: inline-block;
    top: 30vh;
    left: 35%;
    background-color: #F7F7F7;
    .close-form {
      cursor: pointer;
      text-align: right;
    }
    form {
      .form-control {
        display: block;
        margin-bottom: 20px;
      }
      label {
        display: block;
      }
    }

  }
}

.box {
  background-color: rgba(255, 1, 0, 0);
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
  img {
    border-radius: 10px;
    width: 100%;
  }

  .place-name {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    display: block;
  }
  .place-description {
    margin-top: 5px;
    font-size: medium;
    color: #000000;
    height: 26pt;
    overflow: hidden;
    display: block;
  }
}

.place-image {
  display: block;
  box-sizing: border-box;
  min-width: 260px;
  border-radius: 10px;
  margin: auto;
}