<div class="place box panel panel-default">
  <div class="panel-body">
    <div class="place-name">
      <%= place.name %>
    </div>
    <div class="place-picture">
      <img src="<%= place.picture %>">
    </div>
    <div class="place-description">
      <%= place.description %>
    </div>
  </div>

</div>
